.owl_slide_full{
    .owl-carousel , .owl-stage-outer, .owl-stage{
        height: 100vh;
    }

    &.owl_item_full{
        .owl-item{
            height: 100vh;
        }
    }

    
    .owl-nav {
        position: absolute;
        bottom: 0;
        left: 0;
    }
}
