<section class="counter" [ngStyle]="{'background-color': 'rgb(255 232 232)'}">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-3 position-relative">
                <div class="counter_box text-center">
                    <span>240842+</span><br />
                    <strong class="text-uppercase">subscribers</strong>
                </div>
                <span class="border_like"></span>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 position-relative">
                <div class="counter_box text-center">
                    <span>9798+</span><br />
                    <strong class="text-uppercase">Active Students</strong>
                </div>
                <span class="border_like"></span>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 position-relative">
                <div class="counter_box text-center">
                    <span>2500+</span><br />
                    <strong class="text-uppercase">Courses & lessons</strong>
                </div>
                <span class="border_like"></span>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 position-relative">
                <div class="counter_box text-center">
                    <span>100%</span><br />
                    <strong class="text-uppercase">Algorithum Sequence</strong>
                </div>
            </div>
        </div>
    </div>
</section>